VITE_FORMSPREE_ENDPOINT=https://formspree.io/f/your-form-id
VITE_PROFILE_NAME=Andriamihaja Taratra
VITE_CONTACT_EMAIL=andriamtaratra5@gmail.com
VITE_CONTACT_PHONE_DISPLAY=+261 38 05 431 68
VITE_CONTACT_PHONE_LINK=+261380543168
VITE_CONTACT_LOCATION=Antananarivo, Madagascar
VITE_GITHUB_URL=https://github.com/taratra31
VITE_GITHUB_LABEL=github.com/taratra31
VITE_LINKEDIN_URL=https://linkedin.com/in/taratra-andriam
VITE_LINKEDIN_LABEL=linkedin.com/in/taratra-andriam