VITE_FORMSPREE_ENDPOINT=https://formspree.io/f/your-form-id
VITE_PROFILE_NAME=Henri Franck
VITE_CONTACT_EMAIL=ralaitsimanolakavana.franck@gmail.com
VITE_CONTACT_PHONE_DISPLAY=+261 38 17 591 93
VITE_CONTACT_PHONE_LINK=+261381759193
VITE_CONTACT_LOCATION=Antananarivo, Madagascar
VITE_GITHUB_URL=https://github.com/franckenric
VITE_GITHUB_LABEL=github.com/franckenric
VITE_LINKEDIN_URL=https://linkedin.com/in/henri-franck
VITE_LINKEDIN_LABEL=linkedin.com/in/henri-franck
